body {
    padding: 0;
    margin: 0;
    /* background-image: url('../../hd/cam.jpg'); */
    /* background-size: cover; */
    background-size: 100% 100%;
    background-repeat: no-repeat;
    transition: 1s;
}

.card-container {
    width: 100%;
    height: 500px;;
    /* border: 2px solid red; */
    margin: 5% auto;
    text-align: center;
}

.ads {
    background-color: rgb(0, 0, 0);
    opacity: 0.8;
    /* width: 99.2%; */
    width: 100%;
    padding: 22px 0;
    /* border-radius: 20px; */
    /* border: 5px solid white; */
    margin: 1px 0 0 0;
    -webkit-text-fill-color: white;
    margin-bottom: 5px;
}

.btm {
    /* position: absolute; */
    /* bottom: 0; */
    /* margin: 200px auto 0px; */
    width: 100% !important;
    height: auto;
}

.row {
    margin-bottom: 5px;
}

a,
a:hover {
    color: white;
    text-decoration-line: none;
}

.card {
    /* background-color: lightcyan; */
    width: 30%;
    height: auto;
    border: 1px solid lightgray;
    display: inline-block;
    border-radius: 5px;
    margin: 12px;
    overflow: hidden;
    box-shadow: 5px 5px lightgray;
}

.card .img {
    /* width: 100%; */
    width: auto;
    height: auto;
    border: 1px solid black;
    /* color: white; */
    /* font-family: Arial, Helvetica, sans-serif; */
    /* font-size: 1.3em; */
    /* line-height: 250px; */
}

.img img {
    width: 99%;
    height: 400px;
}

h1,
h2 {
    width: 90%;
}

/* .text{
    width: 100%;
    height: 110px;
    background-color: rgb(141, 190, 221);
}
.text span{
    font-size: 1.5em;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 110px;
    color: white;
    text-shadow: 2px 2px 4px black; */

/* } */

.card-container {
    width: 100%;
    height: auto;
    /* border: 2px solid red; */
    margin: 5% auto;
    text-align: center;
}

@media (max-width: 450px) {
    .card-container {
        margin: 3% auto;
        width: 90%;
    }
    .card {
        width: 75%;
    }
}

@media (max-width: 700px) {
    h2 {
        /* width: 90%; */
        font-size: 100%;
    }
}

@media (max-width: 250px) {
    h1,
    h3 {
        font-size: 20px;
    }
}

h1 {
    padding: 0px;
    margin: 0px;
}

.btn-primary {
    background-color: lightgray;
    color: black;
    border: 1px solid black;
}
.msg-btn{
    background-color: aqua;
    margin: 2px;
}
.card1{
    display: block;
}